<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>

    <div class="footer">
        <div class="footerlogo">
            <img src="../static/icons/logo.png" alt="">

        </div>
        <div class="navigation-footer">
            <ul>
                <li>ABOUT</li>
                <li>CONTACT</li>
                <li>LIFESTYLE</li>
                <li>FOODS</li>
                <li>GUIDE</li>
            </ul>
        </div>
    </div>

</body>

</html>