{% extends 'base.html' %}
    {% block title %}
        <title>Document</title>
    {% endblock title %}

    {% block css %}
       <link rel="stylesheet" href="../static/css/search.css">

    {% endblock css %}
    {% block plaincss %}
    {% endblock plaincss %}
 

{% block body %}
   <div class="title-searchs">
        <h1>Blogs on "keywords"</h1>

    </div>
    <div class="blogs">
        <div class="blog">
            <div class="blog-thumbnail">
                <div class="view">
                    View Post &rarr;

                </div>
            </div>
            <div class="blog-title">
                this is a title

            </div>
            <div class="blog-concept">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere natus, adipisci vitae quia
                nam.
            </div>

        </div>
        <div class="blog">
            <div class="blog-thumbnail">
                <div class="view">
                    View Post &rarr;

                </div>
            </div>
            <div class="blog-title">
                this is a title

            </div>
            <div class="blog-concept">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere natus, adipisci vitae quia
                nam.
            </div>

        </div>

    </div>
    <div class="space">
        advertisement

    </div>
    <div class="blogs">
        <div class="blog">
            <div class="blog-thumbnail">
                <div class="view">
                    View Post &rarr;

                </div>
            </div>
            <div class="blog-title">
                this is a title

            </div>
            <div class="blog-concept">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere natus, adipisci vitae quia
                nam.
            </div>

        </div>
        <div class="blog">
            <div class="blog-thumbnail">
                <div class="view">
                    View Post &rarr;

                </div>
            </div>
            <div class="blog-title">
                this is a title

            </div>
            <div class="blog-concept">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere natus, adipisci vitae quia
                nam.
            </div>

        </div>

    </div>
    <div class="space">
        advertisement

    </div>
    <div class="blogs">
        <div class="blog">
            <div class="blog-thumbnail">
                <div class="view">
                    View Post &rarr;

                </div>
            </div>
            <div class="blog-title">
                this is a title

            </div>
            <div class="blog-concept">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere natus, adipisci vitae quia
                nam.
            </div>

        </div>
        <div class="blog">
            <div class="blog-thumbnail">
                <div class="view">
                    View Post &rarr;

                </div>
            </div>
            <div class="blog-title">
                this is a title

            </div>
            <div class="blog-concept">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere natus, adipisci vitae quia
                nam.
            </div>

        </div>

    </div>
    <div class="space">
        advertisement

    </div>
    <div class="loadmore">
        <button>Load more</button>
    </div>

{% endblock body %}
{% block js %}
       $('.blog-thumbnail').on('mouseover', function () {
            $(this).children('.blog-thumbnail .view').css({ 'visibility': 'visible', 'transform': 'translateY(0px)', 'opacity': '1' })

        }).on('mouseleave', function () {
            $('.blog-thumbnail .view').css({ 'transform': 'translateY(50px)', 'opacity': '0', 'visibility': 'hidden' })
        })

{% endblock js %}
